@{
    ViewBag.Title = "Password Recovery Success";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2 class="alert-success">Email Successfullty Sent!!</h2>
<div class="col-sm-9">
    <br />
    <p>
        @Html.ActionLink("Back to Login", "Login")
    </p>
</div>

