@model BuyalotWebShoppingApp.Models.ProductCategory

@{
    ViewBag.Title = "Category Management Dashboard | Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-lg-9 table-bordered" style="border-bottom-style:double">
    <br />
   
    <h4>Product Category Details</h4>
    <hr />
   
    <dl class="form-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ProdCategoryID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

